:root {
    --312D2E: #312D2E;

    --thin-border: #675E61;

    /*主要背景色*/
    --3E393B: #3E393B;

    --font-grey: #B6B0B0;
    --B6B0B0: #B6B0B0;

    --active-tab: #FF626F;
    --FF626F: #FF626F;
    --FFFFFF: #FFFFFF;

    /*数据说明*/
    /*拎包认购数/房屋认购数*/
    --858081: #858081;

    /*昨日房屋认购数量*/
    --FFFDFD: #FFFDFD;

    /*历史累计数值*/
    --FF6C78: #FF6C78;

    /*拎包整体border-bottom*/
    --494445: #494445;

    /*拎包概况里的单位*/
    /*--373233: red;*/

    /*房屋认购数、拎包认购数及转化率，全国各项目情况table*/
    --E8E5E6: #E8E5E6;


    /*选择时间样式*/
    --494345: #494345;
    /*选择时间字体颜色*/
    --C5BCBE: #C5BCBE;
    /*被选择时间背景色*/
    --403B3D: #403B3D;


    /*条形统计图控制的tab*/
    --524E4F: #524E4F;
    /*字*/
    --AEA6A8: #AEA6A8;
    /*激活的背边框*/
    --6A6464: #6A6464;
    /*激活的背景色*/
    --4A4647: #4A4647;


    /*数据说明*/
    --CDC7C9: #CDC7C9;
    --564F51: #564F51;

    /*各套包毛利占比*/
    --EF5A66: #EF5A66;
    --F0A9AD: #F0A9AD;
    --FCE3E9: #FCE3E9;
    /*字色*/
    --191717: #191717;

    /*全国各项目情况*/
    --C8C1C3: #C8C1C3;
    --534C4E: #534C4E;

    /*实心环的虚线*/
    --5C5557: #5C5557;


}


/*c开头的，是color，bg开头的，是background-color，b开头的，是border-color*/
.c858081 {
    color: var(--858081);
}

.cFFFFFF {
    color: var(--FFFFFF);
}

.cFF6C78 {
    color: var(--FF6C78);
}

.cFF626F {
    color: var(--FF626F);
}

.cFFFDFD {
    color: var(--FFFDFD);
}

.cE8E5E6 {
    color: var(--E8E5E6);
}

.cC5BCBE {
    color: var(--C5BCBE);
}

.c191717 {
    color: var(--191717);
}

.cC8C1C3 {
    color: var(--C8C1C3);
}

.cB6B0B0 {
    color: var(--B6B0B0);
}

.cCDC7C9 {
    color: var(--CDC7C9)
}


.bg312D2E {
    background-color: var(--312D2E);
}

.bg494345 {
    background-color: var(--494345);
}

.bg403B3D {
    background-color: var(--403B3D);
}

.bgEF5A66 {
    background-color: var(--EF5A66);
}

.bgF0A9AD {
    background-color: var(--F0A9AD);
}

.bgFCE3E9 {
    background-color: var(--FCE3E9);
}

.bgFFFFFF {
    background-color: var(--FFFFFF);
}

.bg3E393B {
    background-color: var(--3E393B);
}

/*.cAEA6A8 {*/
/*    color: var(--AEA6A8);*/
/*}*/


