.font36 {
    font-size: .72rem;
}

.font33 {
    font-size: .66rem;
}

.font32 {
    font-size: .64rem;
}

.font25 {
    font-size: .50rem;
}

.font20 {
    font-size: .40rem;
}

.font18 {
    font-size: .36rem;
}

.font16 {
    font-size: .32rem;
}

.font15 {
    font-size: .30rem;
}

.font14 {
    font-size: .28rem;
}

.font13 {
    font-size: .26rem;
}

.font12 {
    font-size: .24rem;
}

.font11 {
    font-size: .22rem;
}

.font10 {
    font-size: .20rem;
}

.font9 {
    font-size: .18rem;
}

.fw3 {
    font-weight: 300;
}